<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/dashboart.css">
</head>
<body>
    
    <div class="Contenedor_Principal">
        <aside class="Aside">
            <div class="Aside-Conenedor">
                <div>Imagen</div>
                <div>Info del usuario</div>
                <div>Boton de actualizar</div>
            </div>
        </aside>
        <main class="Main">
            <header class="Header">
                <h1>Bienvenido a Acme Cine</h1>
                <h3>Fecha de hoy</h3>
            </header>
            <p>Info general</p>
        </main>
    </div>
</body>
</html>