body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../utilsFront/aaa.png');
    background-size: cover;
    color: #e0e0e0;
    height: 98vh;
}



.Contenedor_Principal{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
    padding: 10px;
    height: 95%;
    
    
}

.Aside{
    border: 1px rgb(255, 253, 253) solid;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    width: 75%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-self: center; 
    position: sticky;
    top: 0;
    align-self: start; 
    height: 95vh; 
}
.Aside-Conenedor{
    height: 80%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Aside-Conenedor_userData{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header{
    text-align: center;
}





#Main-dinamic table {
    width: 85%;
    border-collapse: none; /* Permite fusionar bordes */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent;
     backdrop-filter: blur(8px);
}

#Main-dinamic table th {
    background-color: #371161;
    color: white;
    padding: 12px 15px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #560a9f; /* Borde inferior para los encabezados */
}

/*
  CSS para las celdas de la tabla principal
*/
#Main-dinamic table > tbody > tr > td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    color: #ffffff;
}

/*
  CSS para las tablas anidadas dentro de las celdas de la tabla principal
*/
#Main-dinamic table > tbody > tr > td table {
    /* Resetea el border-collapse para esta tabla anidada */
    border-collapse: separate;
    border-spacing: 0; 
    width: 100%; /* Ocupa el 100% de la celda contenedora */
}

#Main-dinamic table > tbody > tr > td table td {
    border: 1px solid #e0e0e0; /* Aplica bordes a las celdas de la tabla anidada */
    padding: 10px 15px;
}

/*
  Estilos adicionales y de hover
*/
#Main-dinamic table tbody tr:hover {
    
    cursor: pointer;
}

#Main-dinamic table th:first-child {
    border-top-left-radius: 8px;
}

#Main-dinamic table th:last-child {
    border-top-right-radius: 8px;
}

#Main-dinamic table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

#Main-dinamic table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

#Main-dinamic table tbody tr:last-child td {
    border-bottom: none;
}